<div class="floating-nav-wrap">
    <nav class="floating-nav-pill">
        <NavLink href="/" Match="NavLinkMatch.All" class="fn-item" ActiveClass="fn-item--active">
            <span class="fn-icon-box">
                <MudIcon Icon="@Icons.Material.Filled.Folder" Size="Size.Medium" />
            </span>
            <span class="fn-label">Задачи</span>
        </NavLink>

        <NavLink href="/settings" class="fn-item" ActiveClass="fn-item--active">
            <span class="fn-icon-box">
                <MudIcon Icon="@Icons.Material.Outlined.Settings" Size="Size.Medium" />
            </span>
            <span class="fn-label">Ещё</span>
        </NavLink>
    </nav>
</div>
