# Скопируйте на сервер: deploy/.env
# cp env.production.example .env && nano .env

DOMAIN=tgtodo.duckdns.org

BOT_TOKEN=
BOT_INTERNAL_KEY=
MINI_APP_URL=https://tgtodo.duckdns.org/

POSTGRES_PASSWORD=change-me-strong
RABBITMQ_PASSWORD=change-me-strong
